<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_reuse-backup._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>このアプリがローカルネットワーク上のバックアップサーバーを発見・接続するため、ローカルネットワークアクセスが必要です。</string>
</dict>
</plist>
