<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_reuse-backup._tcp</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>バックアップサーバーに転送する写真・動画を選択するため、フォトライブラリへのアクセスが必要です。</string>
</dict>
</plist>
